html {
  color: black;
  padding: 20px;
  font-family: Helvetica;
  font-size: 40px;
  height: 100%;
  overflow: hidden;
  background-color: #D8F7FB;
}

.display {
  border: 2px solid black;
  width: 600px;
  padding: 10px;
}


input[type=text] {
    width: 100px;
    height: 55px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    font-size: 16px;
    background-color: #3d89cc;
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 10px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 300px;
}

.low-usage {
  color: green;
}

.medium-usage {
  color: black;
}

.high-usage {
  color: red;
}

.On {
  color: green;
}

.Off {
  color: red;
}

.btn {
  background: #3d89cc;
  color: #fff;
  box-shadow: 0 6px black;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
  border-radius: 50%;
  width: 90px;
  height: 50px;
  padding: 0;
  border: none;
  font-family: Helvetica;
  font-size: 24px;
  cursor: pointer;
  display: inline-block;
  margin: 15px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
}

.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.btn1 {
  border-radius: 40px;
  width: 150px;
}

.btn1:hover {
  box-shadow: 0 4px white;
  top: 2px;
}

.btn1:active {
  box-shadow: 0 0 white;
  top: 6px;
}

.btn2 {
  width: 50px;
}

.btn2:hover {
  box-shadow: 0 4px white;
  top: 2px;
}

.btn2:active {
  box-shadow: 0 0 white;
  top: 6px;
}
